/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Light theme(default) */
:root {
  --bg-color: #fff;
  --card-bg-color: #fafafa;
  --text-color: #333;
  --btn-bg-decrease: #fafafa;
  --btn-bg-reset: linear-gradient(180deg, #e8e8e8, #b5b5b5);
  --btn-bg-increase: #333;
  --btn-text-color: #333;
  --btn-text-color2: #fff;
  --btn-hover-color: #ccc;
}

/* Dark theme */
[data-theme="dark"] {
  --bg-color: #000;
  --card-bg-color: #333;
  --text-color: #fff;
  --btn-bg-decrease: #fafafa;
  --btn-bg-reset: linear gradient(90deg, #e8e8e8, #b5b5b5);
  --btn-bg-increase: #333;
  --btn-text-color: #fff;
}

/* Global styles */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Arial", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  background-color: #fafafa;
  padding: 3rem;
  border-radius: 20px;
  border: 1px solid #ccc;
  box-shadow: 1px 20px 10px rgba(0, 0, 0, 0.089);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.outer-toggle {
  width: 45px;
  height: 20px;
  background-color: #eaeaea;
  border-radius: 20px;
  border: 1px solid #ccc;
}

.inner-toggle {
  background-color: #333;
  border-radius: 20px;
  width: 50%;
  height: 100%;
}
.counter-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.counter-title {
  font-size: 20px;
}

.count-value {
  font-size: 64px;
  font-weight: bold;
}

.btn-group button {
  padding: 0.5rem 1rem;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: var(--btn-text-color);
  border: 1px solid #ccc;
  transition: all duration 0.5s ease-in-out;
}

.btn-group button:hover {
  background-color: var(--btn-hover-color);
  transform: scale(1.05);
  cursor: pointer;
}

.btn-group .btn-increase {
  background-color: var(--btn-bg-increase);
  color: var(--btn-text-color2);
}

.btn-group .btn reset {
  background-color: var(--btn-bg-reset);
}
